.displayDestinations {
  display: flex;
  justify-content: center;
}
.destinations_img {
  height: 15rem;
  width: 100%;
  border-radius: 2.5px;
}

.destinations_button {
  position: relative;
  float: right;
  bottom: 2.5px;
  font-size: 0.7em;
  height: 2rem;
}

.destinations_city {
  margin-top: -35px;
  margin-left: 10px;
  color: white;
  text-shadow: 0px 0px 2px #000000;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.destinations_h1 {
  text-align: center;
  font-size: 1.5em;
}

@media (min-width: 760px) {
  .destinations_h1 {
    text-align: center;
    font-size: 2em;
  }
  .destinations_img {
    height: 20rem;
    width: 20rem;
  }
}

@media (min-width: 1200px) {
  .destinations_img {
    width: 34rem;
  }
  .destinations_h1 {
    text-align: left;
  }
}
