.destinations {
  margin-top: 80px;
}

.destination_button {
  width: 12rem;
}
.table thead {
  display: none;
}
.table tr {
  display: block;
  margin-bottom: 40px;
}

.table td {
  display: block;
  text-align: right;
}

.table td:before {
  content: attr(data-label);
  float: left;
  font-weight: bold;
}

.pagination {
  justify-content: center;
}

.destinations_h1:before {
  content: "";
  left: 0;
  position: absolute;
  height: 3px;
  right: 60%;
  background-color: #ff6b6b;
  bottom: -5px;
}

.destinations_h1 {
  display: inline-block;
  position: relative;
  font-size: 1.7em;
  font-weight: 600;
}
