.contact {
  height: 40rem;
}

.contact_h1:before {
  content: "";
  left: 0;
  position: absolute;
  height: 3px;
  right: 20%;
  background-color: #ff6b6b;
  bottom: -5px;
}

.contact_h1 {
  display: inline-block;
  position: relative;
  color: white;
  margin: 0px 0px 0px 30px;
}
