.player {
  background: url("../../../../public/img/beach.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 740px) {
}

@media (min-width: 1200px) {
}
